@import "../design-system";

:root {
  font-family: $nb-theme-font-family;
  font-size: $nb-text-base-font-size;
}

html {
  padding: nb-space(none);
  margin: nb-space(none);
  font-family: $nb-theme-font-family;
  font-size: $nb-text-base-font-size;
  font-weight: nb-font-weight(regular);
  color: nb-color(base, dark-900);
  background-color: nb-color(secondary, grey-100);
}
