/**
Not Botan Brand Default Color Palette
*/

// Brand - Primary - Dark Grey
$nb-theme-color-primary-grey-900: #202125;
$nb-theme-color-primary-grey-700: #494b54;
$nb-theme-color-primary-grey-500: #727584;
$nb-theme-color-primary-grey-300: #a0a3ad;
$nb-theme-color-primary-grey-100: #d0d1d6;

// Brand - Primary - Orange
$nb-theme-color-primary-orange-900: #fe6c3b;
$nb-theme-color-primary-orange-700: #fe8962;
$nb-theme-color-primary-orange-500: #fea789;
$nb-theme-color-primary-orange-300: #ffc4b1;
$nb-theme-color-primary-orange-100: #ffe2d8;

// Brand - Secondary - Error
$nb-theme-color-secondary-error-900: #fd9f90;
$nb-theme-color-secondary-error-700: #ffc1b8;
$nb-theme-color-secondary-error-500: #ffd1ca;
$nb-theme-color-secondary-error-300: #ffe0db;
$nb-theme-color-secondary-error-100: #fff0ed;

// Brand - Secondary - Grey
$nb-theme-color-secondary-grey-900: #aaa;
$nb-theme-color-secondary-grey-700: #bbb;
$nb-theme-color-secondary-grey-500: #ccc;
$nb-theme-color-secondary-grey-300: #ddd;
$nb-theme-color-secondary-grey-200: #eee;
$nb-theme-color-secondary-grey-100: #f4f4f4;

// Brand - Secondary - Green
$nb-theme-color-secondary-green-900: #194822;
$nb-theme-color-secondary-green-700: #339044;
$nb-theme-color-secondary-green-500: #5ec671;
$nb-theme-color-secondary-green-300: #a6e0b0;
$nb-theme-color-secondary-green-100: #eef9f0;

// Brand - Secondary - Blue
$nb-theme-color-secondary-blue-900: #074c5a;
$nb-theme-color-secondary-blue-700: #0e97b3;
$nb-theme-color-secondary-blue-500: #32d0ef;
$nb-theme-color-secondary-blue-300: #8be4f6;
$nb-theme-color-secondary-blue-100: #e5f9fd;

// Brand - Secondary - Purple
$nb-theme-color-secondary-purple-900: #240a58;
$nb-theme-color-secondary-purple-700: #4815b0;
$nb-theme-color-secondary-purple-500: #773ee8;
$nb-theme-color-secondary-purple-300: #e3edff;
$nb-theme-color-secondary-purple-100: #f3eefd;

// Brand - Secondary - Brown
$nb-theme-color-secondary-brown-900: #44381f;
$nb-theme-color-secondary-brown-700: #886f3e;
$nb-theme-color-secondary-brown-500: #bca26c;
$nb-theme-color-secondary-brown-300: #dbcdb0;
$nb-theme-color-secondary-brown-100: #faf8f4;

// Brand - Base - Dark
$nb-theme-color-base-dark-900: #373737;
$nb-theme-color-base-dark-700: #5f5f5f;
$nb-theme-color-base-dark-500: #878787;
$nb-theme-color-base-dark-300: #afafaf;
$nb-theme-color-base-dark-100: #d7d7d7;

// Brand - Base
$nb-theme-color-base-white: #fff;
$nb-theme-color-base-black: #000;
