@use 'sass:list';
@use '../functions' as *;

/// Sets size to an element.
/// If height omitted, it will be the same as width.
/// @param {string} $width - Width size value.
/// @param {string} $height - Height size value.
/// @returns {string} Width and height size value.
@mixin size($width, $height: $width) {
  $fetched-width: space($width);

  @if list.length($height) == 1 {
    $fetched-height: space($height);
    width: $fetched-width;
    height: $fetched-height;
  } @else {
    width: $fetched-width;
    height: $fetched-width;
  }
}
