@use "sass:map";

// The breakpoints to use for the project.
$config-breakpoint: () !default;
$config-breakpoint: map.deep-merge(
  (
    "xs": 320px,
    "sm": 768px,
    "md": 900px,
    "lg": 1024px,
    "xl": 1280px,
    "xxl": 1440px,
  ),
  $config-breakpoint
);
