.card {
  @include animate(fade-in, 1s);
  @include position($axis: vertical);
  @include z-index(masked);
  @include shape(xxl);
  @include shadow($elevation: xl);
  right: 15%;
  left: unset;
  max-width: 664px;
  height: fit-content;
  padding: space('3xl');
  background-color: color-mix(in sRGB, color(default, 50) 30%, transparent);
  -webkit-backdrop-filter: blur(16px); // stylelint-disable-line property-no-vendor-prefix
  backdrop-filter: blur(16px);
}

.card_title {
  margin-bottom: space('2xl');
  font-family: font-family('default');
  font-size: font-size(h1);
  font-weight: font-weight(bold);
  line-height: line-height(h1);
  color: color(default, 800);
  letter-spacing: letter-spacing(h1);
}

.card_paragraph {
  font-family: font-family('default');
  font-size: font-size(text);
  font-weight: font-weight(normal);
  line-height: line-height(text);
  color: color(default, 700);
  letter-spacing: letter-spacing(h1);
}

.card_controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: space('4xl');
}
