@use "true" as *;
@import "../../src/abstracts";

// stylelint-disable max-nesting-depth
// stylelint-disable order/properties-order
// stylelint-disable order/order
@include describe("focus-ring()") {
  @include it("should return content within requested focus ring parameters") {
    @include assert {
      @include output {
        .button {
          @include focus-ring($color: #22ffff);
        }
      }

      @include expect {
        .button {
          will-change: outline, outline-offset, border-radius;
          transition: outline 150ms cubic-bezier(0.5, 0, 0.1, 1) 0ms, outline-offset 150ms cubic-bezier(0.5, 0, 0.1, 1) 0ms, border-radius 150ms cubic-bezier(0.5, 0, 0.1, 1) 0ms;
          outline: solid 1px transparent;
        }

        .button:focus-visible {
          border-radius: 0;
          outline: solid 1px #22ffff;
          outline-offset: 3px;
        }

        @media screen and (prefers-contrast) {
          .button:focus-visible {
            outline-style: dotted;
          }
        }
      }
    }
  }
}
