@use "true" as *;
@import "../../src/abstracts";

// stylelint-disable max-nesting-depth
// stylelint-disable order/properties-order
// stylelint-disable order/order
@include describe("placeholder()") {
  @include it("should return a placeholder selector") {
    @include assert {
      @include output {
        .input {
          @include placeholder {
            color: #000000;
          }
        }
      }

      @include expect {
        .input:-moz-placeholder {
          color: #000000;
        }

        .input::-moz-placeholder {
          color: #000000;
        }

        .input:-ms-input-placeholder {
          color: #000000;
        }

        .input::-webkit-input-placeholder {
          color: #000000;
        }

        .input::placeholder {
          color: #000000;
        }
      }
    }
  }
}
