@use 'true' as *;
@use '../../src/abstracts' as *;

// stylelint-disable max-nesting-depth
// stylelint-disable order/properties-order
@include describe('pseudo()') {
  @include it('should return a valid pseudo element styles') {
    @include assert {
      @include output {
        .icon {
          @include pseudo($loc: 'after', $axis: both);
        }
      }

      @include expect {
        .icon {
          position: relative;
        }

        .icon::after {
          transform: translateX(-50%) translateY(-50%);
          position: absolute;
          top: 50%;
          right: 0;
          bottom: 0;
          left: 50%;
          content: '';
        }
      }
    }
  }
}
