@use 'true' as *;
@use '../../src/abstracts' as *;

// stylelint-disable max-nesting-depth
// stylelint-disable order/order
@include describe('text-ellipsis()') {
  @include it('should return a text ellipsis styles') {
    @include assert {
      @include output {
        .paragraph {
          @include text-ellipsis;
        }

        .paragraph-2 {
          @include text-ellipsis(2);
        }
      }

      @include expect {
        .paragraph {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .paragraph-2 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: inherit;
        }

        @supports (-webkit-line-clamp: 2) {
          .paragraph-2 {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
          }
        }
      }
    }
  }
}

@include describe('text-balance()') {
  @include it('should return balanced text wrapping') {
    @include assert {
      @include output {
        .heading {
          @include text-balance;
        }
      }

      @include expect {
        .heading {
          text-wrap: balance;
        }
      }
    }
  }
}

@include describe('text-pretty()') {
  @include it('should return pretty text wrapping') {
    @include assert {
      @include output {
        .paragraph {
          @include text-pretty;
        }
      }

      @include expect {
        .paragraph {
          text-wrap: pretty;
        }
      }
    }
  }
}

@include describe('word-wrap()') {
  @include it('should return a word wrap styles') {
    @include assert {
      @include output {
        .paragraph {
          @include word-wrap;
        }
      }

      @include expect {
        .paragraph {
          hyphens: auto;
          word-break: break-word;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
      }
    }
  }
}

@include describe('text-selection()') {
  @include it('should return a text selection styles') {
    @include assert {
      @include output {
        .paragraph {
          @include text-selection(#f2f2f2, #000000);
        }

        .paragraph-2 {
          @include text-selection(#e99700, #ffffff, $is-direct: false);
        }
      }

      @include expect {
        .paragraph::selection {
          color: #f2f2f2;
          background-color: #000000;
        }

        .paragraph-2 ::selection {
          color: #e99700;
          background-color: #ffffff;
        }
      }
    }
  }
}
